    @model DocList.Models.Ratings.RatingsCreate

@{
    ViewData["Title"] = "RatingCreate";
}

<h1>Please rate my service</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RatingCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Enter Job ID. Can be found here: <a asp-controller="JobTypes" asp-action="Index">Jobs list</a></p>
            <div class="form-group">
                <label asp-for="RatingsId" class="control-label">Job Id</label>
                <select asp-for="RatingsId" class="form-control" asp-items="ViewBag.RatingsId"></select>
                <span asp-validation-for="RatingsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   <button><a asp-controller="Ratings" asp-action="RatingEdit">Edit existing rating</a></button><br />
   <button><a asp-controller="Ratings" asp-action="RatingDetails">Back to list</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
