@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="JobTypes" asp-action="Create" ><h2>Create a Job Ticket</h2></a>
    </br>
    <a asp-controller="Ratings" asp-action="RatingCreate"><h2>Rate my service</h2></a>
  

</div>
