@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
 
    <a asp-controller="JobTypes" asp-action="Create" >Create a Job Ticket</a>
    <a asp-controller="Ratings" asp-action="Create">Rate my service</a>
</div>
